:root {
  --d: 2px; /* Distance from the center of the gradient circle to the edge */
}

* {
  font-family: "Courier New", Courier, monospace;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.fit-content {
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
      circle at var(--d) var(--d),
      #71717a calc(var(--d) - 1px),
      #09090b var(--d)
    ) -2px -2px / 16px 16px;
  font-family: druid-sans, sans-serif;
}

.classic-look {
  background-color: black;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

.game-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.game-name {
  color: white;
  font-size: 90px;
}

.game-name-decoration {
  font-size: 40px;
  color: red;
}

#landing-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#start-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  font-size: 15px;
}

#start-game-button:hover {
  border: 2px solid red;
  font-weight: bold;
}

#pause-overlay {
  color: white;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
}

#pause-footer {
  color: gray;
  font-size: 13px;
}

#pause-header {
  font-size: 25px;
}

#player {
  width: auto;
  height: auto;
  color: white;
  position: absolute;
}

#player-weapon {
  position: absolute;
  color: white;
}

#player-appearence {
  position: absolute;
  color: white;
}

#game-container {
  width: 100vw;
  height: 100vh;
}

#crosshair {
  display: none;
  position: absolute;
  color: white;
}

.projectile {
  position: absolute;
  background-color: red;
  height: 2px;
  width: 8px;
}

.enemy {
  position: absolute;
  background-color: red;
  height: 16px;
  width: 16px;
}

.health-bar-container {
  position: absolute;
  border-radius: 2px;
  border: 1px solid white;
  display: flex;
  justify-content: start;
}

.health-bar-progress {
  position: absolute;
  border-radius: 2px;
}

.coin-dropped {
  color: gold;
  text-shadow: 1px 1px 1px yellow;
}

.coin-inventory {
  color: gold;
  text-shadow: 1px 1px 1px yellow;
}

.energy-drink-dropped {
  color: green;
  text-shadow: 1px 1px 1px lime;
}

.energy-drink-inventory {
  color: green;
  text-shadow: 1px 1px 1px lime;
}

.dropped-item {
  position: absolute;
  font-size: 22px;
}

.item-inventory {
  border: 1px solid white;
}

#inventory {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 1;
}

.inventory-item {
  display: flex;
  border: 1px solid white;
}
