/* .dropped-item {
  position: absolute;
  font-size: 22px;
  text-align: center;
}

.inventory-item {
  font-size: 28px;
}

.coin {
  color: gold;
  text-shadow: 1px 1px 1px yellow;
}

.energy-drink {
  color: green;
  text-shadow: 1px 1px 1px lime;
} */
