:root {
  --d: 2px;
}

* {
  font-family: "Courier New", Courier, monospace;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

#crosshair {
  display: none;
  position: absolute;
  color: white;
}

.game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  font-size: 15px;
}

.game-button:hover {
  border: 2px solid red;
  font-weight: bold;
}

#landing-page {
  position: fixed;
  background: radial-gradient(
      circle at var(--d) var(--d),
      #71717a calc(var(--d) - 1px),
      #09090b var(--d)
    ) -2px -2px / 16px 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.game-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.game-name {
  color: white;
  font-size: 90px;
}

.game-name-decoration {
  font-size: 40px;
  color: red;
}

#game-over-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.85;
}

#game-over-text {
  color: red;
  font-size: 80px;
  opacity: 1;
}

#game-over-button {
  opacity: 1;
}

#game-canvas {
  display: none;
  background: radial-gradient(
      circle at var(--d) var(--d),
      #71717a calc(var(--d) - 1px),
      #09090b var(--d)
    ) -2px -2px / 16px 16px;
}

#fire-rate-timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
}

#inventory {
  height: 70vh;
  width: 70vw;
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inventory-item {
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classic-look {
  background-color: black;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

#pause-overlay {
  color: white;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
}

.press-key-info {
  color: gray;
  font-size: 13px;
}

#pause-overlay {
  color: white;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
}

.press-key-info {
  color: gray;
  font-size: 13px;
}

#pause-header {
  font-size: 25px;
}

/*

#pause-overlay {
  color: white;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
}

#pause-header {
  font-size: 25px;
}

#player {
  width: auto;
  height: auto;
  color: white;
  position: absolute;
}

#player-weapon {
  position: absolute;
  color: white;
}

#player-appearence {
  position: absolute;
  color: white;
}

#game-container {
  width: 100vw;
  height: 100vh;
}

.projectile {
  position: absolute;
  background-color: red;
  height: 2px;
  width: 8px;
}

.enemy {
  border: 1px solid white;
  position: absolute;
  height: 16px;
  width: 16px;
}

.melee-enemy {
  background-color: rgb(118, 19, 19);
}

.ranged-enemy {
  background-color: rgb(225, 182, 182);
}

#inventory {
  height: 70vh;
  width: 70vw;
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inventory-footer {
  display: absolute;
  bottom: 30px;
}

.inventory-item {
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  width: 30px;
  height: 30px;
}

.inventory-item:hover {
  border: 1px solid red;
}

.item-count {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  color: white;
}

.player-collection-radius {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.15;
} */
